{% extends "LaMaltiereSiteWebMaltiereBundle::layout.html.twig" %}

{% block section %}
<section class="conteneur">
    <h2>{% trans from "magasin" %}magasin.moteur.titre{% endtrans %}<span class="action"><a href="{{ path('lamaltiere_magasin') }}">{% trans from "magasin" %}magasin.retour.magasin{% endtrans %}</a></span></h2>
        
        {% set panier = app.session.get('panier') %}
        
        {% if app.session.get('panier') == null %}
            {% trans from "magasin" %}magasin.panier.vide{% endtrans %}<br />
            {% if mailClient is defined %}
                <center>
                    {% trans from "magasin" %}magasin.panier.commandevalidee{% endtrans %}<br />
                    {% trans from "magasin" %}magasin.panier.emailenvoye{% endtrans %} {{ mail }}.
                </center>
            {% endif %}
        {% else %}
            <center><table class="panier">
                    <caption><h4>{% trans from "magasin" %}magasin.panier.recapitulatif{% endtrans %}</h4></caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>{% trans from "magasin" %}magasin.panier.produit{% endtrans %}</th>
                        <th>{% trans from "magasin" %}magasin.panier.quantite{% endtrans %}</th>
                        <th>{% trans from "magasin" %}magasin.panier.prixunitaire{% endtrans %}</th>
                        <th>{% trans from "magasin" %}magasin.panier.total{% endtrans %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% set total = 0 %}
                    {% for produit in panier %}
                        <tr>
                            <td><img src="{{ asset('bundles/lamaltieresitewebmaltiere/images/produits/'~ produit[1] ~'/'~ produit[0] ~'/1.jpg') }}" width="140px" height="85px" alt="{{ produit[2] }}" title="{{ produit[2] }}" /></td>
                            <td>{{ produit[2] }}</td>
                            <td>{{ produit[3] }}</td>
                            <td>{{ produit[4] }}</td>
                            <td>{{ (produit[3]*produit[4])|number_format(2,',',' ') }} €</td>
                            {% set total = total + (produit[3]*produit[4]) %}
                            <td><a href="{{ path('lamaltiere_supprimerProduitPanier', {'idProduit': produit[0] })}}"><img src="{{ asset('bundles/lamaltieresitewebmaltiere/images/icones/document--minus.png') }}" width="16px" height="16px" title="Supprimer" alt="Supprimer" /></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                    <p class="total">{% trans from "magasin" %}magasin.panier.msgtotal{% endtrans %} : {{ total|number_format(2,',',' ') }} € / {% trans from "magasin" %}magasin.panier.fraisport{% endtrans %}</p>
            </center>
                    
            <form method="GET" action="{{ path('lamaltiere_commande') }}">
                 <input type='submit' value="{% trans from "magasin" %}magasin.bouton.commander{% endtrans %}" />
            </form>
        {% endif %}
</section>
{% endblock %}